/* body {
  background: url(coffee-apple.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
} */
 /* index.css or App.css */
body, html, #root {
   background: url(coffee-apple.jpg) no-repeat center center fixed;
  margin: 0;
  padding: 0;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
}

